.login-box {
    width: 400px !important;
    /* margin: 20% auto; */
    color: var(--sidebarTextColor) !important;
    background: var(--backgroundGradient);
}

.login-box hr {
    border-color: 2px solid var(--sidebarTextColor) !important;
    color: var(--sidebarTextColor) !important;
    margin: 5px 0 !important;
}

.login-box a {
    color: var(--sidebarTextColor) !important;
    font-size: 16px;
    font-weight: bolder;
}


.login-box a .fa {
    margin: 0 10px;
}

.login-box a:hover {
    color: #fff !important;
}

.login-box .user-icon {
    width: 150px;
    height: 150px;
    font-size: 80px;
    border-radius: 50%;
    padding-top: 10px;
    margin: 50px auto 50px;
    border: 8px solid var(--sidebarTextColor);
}

#login-form {
    margin-top: 15px;
    margin-bottom: 50px;
}

#login-form .btn.btn-warning.btn-block.btn-flat {
    border: 1px solid var(--sidebarTextColor) !important;
    color: var(--sidebarTextColor) !important;
}

#login-form .btn.btn-warning.btn-block.btn-flat:hover {
    background-color: #fff !important;
}


@media (max-width: 768px) {
    .login-box {
        width: 80%;
    }
   /*  body {
        background: linear-gradient(218deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 100%), url("/images/back-blur.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    } */
}
/* 
.custom-login-box {
    width: 700px; 
    height: 400px;
    margin: 10% auto;
    background: linear-gradient(rgba(243, 156, 18, 0.3), rgba(0, 0, 0, 0.5)),
    url("/images/back-new.jpg");
    background-size: 200%;
    background-position-x: 87%;
    background-position-y: 38%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) !important;
    border-radius: 10px;
}

#trapezoid {
    border-bottom: 400px solid #fff;
    border-left: 450px solid transparent;
    height: 0;
    width: 700px;
}

.box-login-custom {
    width: 400px;
    margin-top: -170px;
    margin-left: 265px;
}

.logo-login-custom {
    width: 400px;    
    margin-top: -258px;
    z-index: 10;
    margin-left: 300px;
}

.logo-login-custom a {
    border-bottom: none !important;
}

.logo-login-custom a:hover {
    background: none !important;
} */