/** DARK MODE */
.dark-mode {
	--background: #2a2f32;
	--backgroundGradient: #2a2f32;
	--shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	--hover: #2a2f32;
	--linkColor: #fff;
	--borderColor: #fff;
	--sidebarTextColor: #fff;
	--textColor: #4a3f35;

	color: #fff !important;
	background: #2a2f32 !important;
}

.dark-mode .main-sidebar {
	border: 1px solid #fff !important;
}

.dark-mode .box {
    background: var(--backgroundGradient) !important;
    border: 1px solid #fff;
	border-top-color: rgb(255, 255, 255);
	border-top-style: solid;
	border-top-width: 1px;
	border-top: 1px solid #fff !important;
	color: #fff !important;
}

.dark-mode .box-header {
	color: #fff !important;
}

.dark-mode .box:before,
.dark-mode .box:after,
.dark-mode .box > :first-child:before,
.dark-mode .box > :first-child:after {
  position: absolute;
  width: 0;
  height: 0;
  border-color: none !important; /* or whatever colour */
  border-style: solid; /* or whatever style */
  content: " ";
}

.dark-mode .panel {
    background: var(--backgroundGradient) !important;
    border: 1px solid #fff !important;
}

.dark-mode .panel-primary > .panel-heading {
    background-color: var(--backgroundGradient) !important;
    border-color: #fff !important;
    border-radius: 5px !important;
    color: #fff !important;
}

.dark-mode .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: var(--backgroundGradient) !important;
}

.dark-mode .table > tbody > tr.warning > td {
	background: var(--backgroundGradient) !important;
}

.dark-mode .pagination > .active > a {
    background-color: var(--backgroundGradient) !important;
    border-color: #fff !important;
}

.dark-mode .panel-footer {
    background-color: var(--backgroundGradient) !important;
    border-top: 1px solid #fff !important;
}

.dark-mode .user-box, .dark-mode .tool-box {
	border: 1px solid #fff !important;
}

.dark-mode .dropdown-menu {
	border: 1px solid #fff !important;
}

.dark-mode .btn:hover {
	color: var(--backgroundGradient) !important;
}

.dark-mode .modal-header, .dark-mode .modal-body, .dark-mode .modal-footer {
	border: 1px solid #fff !important;
	background: var(--backgroundGradient) !important;
	color: #fff !important;
}

.dark-mode .btn-scr button:hover {
    background: #fff !important;
    color: var(--backgroundGradient) !important;
    border: 1px solid var(--backgroundGradient);
}

.dark-mode .form-control {
	background: #33383b !important;
	color: #fff !important;
}

.dark-mode [class^="select2"] {
	background: #33383b !important;
	color: #fff !important;
}

.dark-mode .pagination > li > a {
	background: #33383b !important;
}

.dark-mode .pagination > li > a:hover {
	color: #fff !important;
}

.dark-mode .pagination > .disabled > span, .pagination > .disabled > span:hover {
	background: #33383b !important;
}

.dark-mode .kv-md-header, .dark-mode .kv-md-input {
	background: #33383b !important;
}

.dark-mode .kv-md-header button {
    background: #33383b !important;
    color: #fff !important;
}

.dark-mode .kv-md-footer {
    background: #33383b !important;
}

.dark-mode .kv-md-footer button {
    background: #33383b !important;
    border: 1px solid !important;
}

.dark-mode .step-content {
    background: #33383b !important;
}

.dark-mode .sw-theme-arrows > ul.step-anchor > li > a {
    background: #33383b !important;
}

.dark-mode .sw-theme-arrows > ul.step-anchor > li > a::after {
    border-left: 30px solid #33383b !important;
}

.dark-mode .sw-theme-arrows > ul.step-anchor > li.active > a, .dark-mode .sw-theme-arrows > ul.step-anchor > li.done > a {
	background: var(--backgroundGradient) !important;
}

.dark-mode .sw-theme-arrows > ul.step-anchor > li.active > a::after, .dark-mode .sw-theme-arrows > ul.step-anchor > li.done > a::after {
    border-left: 30px solid var(--backgroundGradient) !important;
}

.dark-mode .btn-secondary {
	background: var(--backgroundGradient) !important;
	color: #fff !important;
	border: 1px solid #fff !important;
}

.dark-mode .panel-default > .panel-heading {
    background-color: transparent !important;
    border-color: #ddd;
}

.dark-mode td.kv-group-even {
	background: var(--backgroundGradient) !important;
}

.dark-mode td.kv-group-odd {
	background: var(--backgroundGradient) !important;
}

.dark-mode .table > tbody > tr > td, .dark-mode .kv-grouped-row {
	background: var(--backgroundGradient) !important;
}

.dark-mode .info-box {
	background: var(--backgroundGradient) !important;
	border: 1px solid #fff !important;
}

.dark-mode .alert-warning {
	border: 1px solid var(--warningGradient) !important;
}

.dark-mode .calendar-table {
	padding: 5px !important;
}

.dark-mode .daterangepicker, .dark-mode .calendar-table {
	background: var(--backgroundGradient) !important;
	border: 1px solid #fff !important;
}

.dark-mode .daterangepicker td.off {
	background: var(--backgroundGradient) !important;
}

.dark-mode .ct-form-control {
	background: none !important;
	border: 1px solid #fff !important;
	padding: 5px !important;
}


.dark-mode .tab-content {
	background: none !important;
}

.dark-mode .nav-tabs-custom > .nav-tabs > li > a, .dark-mode .nav-tabs-custom > .nav-tabs > li.header {
	color: #fff !important;
}

.dark-mode .input-group.date .kv-date-remove, 
.dark-mode .input-group.date .kv-date-picker, 
.dark-mode .input-group.date .kv-date-remove, 
.dark-mode .input-group.date .kv-date-picker, 
.dark-mode .input-group.input-daterange .kv-date-remove, 
.dark-mode .input-group.input-daterange .kv-date-picker, 
.dark-mode .input-group.input-daterange .kv-date-remove, 
.dark-mode .input-group.input-daterange .kv-date-picker {
    cursor: pointer;
    background: transparent !important;
    color: #fff !important;
}

.dark-mode .bootstrap-timepicker .picker .btn-default {
	color: #fff !important;
}

.dark-mode .select2-results ul li:hover {
	background-color: #000 !important;
	font-weight: bold;
}

.dark-mode .kv-panel-after {
    background: var(--backgroundGradient) !important;
}

.dark-mode td.today.weekend.active.start-date.available.in-range,
.dark-mode td.today.weekend.active.start-date.available,
.dark-mode td.weekend.active.end-date.in-range.available,
.dark-mode td.active.end-date.in-range.available {
	background-image: none !important;
	background-color: #fff !important;
	color: #000 !important;
}

/* End Dark-mode*/